{% extends "base.html" %}

{% block header_extra %}
<style>
  footer.citation * {
    margin-top: 20px;
    font-size: 10px !important;
    font-style: italic !important;
  }
  .welcome-section {
    background-image: url("/images/home/header.jpg");
    background-size: cover;
    color: white;
    padding: 100px 0;
  }

  .welcome-section p {
    color: #333333 !important;
  }

  .overlay {
    background-color: rgba(
      255,
      255,
      255,
      0.7
    ); /* Black background with 50% opacity */
    color: white;
    padding: 100px 0;
  }
</style>
{% endblock header_extra %}
